# public/.htaccess
# Empêche la liste des fichiers si un répertoire est accédé directement
Options -Indexes

# Active le module de réécriture d'URL
RewriteEngine On

# Si la requête correspond à un fichier existant, ne pas réécrire
RewriteCond %{REQUEST_FILENAME} !-f
# Si la requête correspond à un répertoire existant, ne pas réécrire
RewriteCond %{REQUEST_FILENAME} !-d

# Toute requête qui ne correspond ni à un fichier ni à un répertoire est redirigée vers index.php
RewriteRule ^ index.php [QSA,L]
